__pycache__/
*.pyc
.ipynb_checkpoints/

.vscode/
.DS_Store
Thumbs.db

*.csv
*.xlsx

*.shp
*.shx
*.dbf
*.prj
*.cpg
*.gdb
*.gdbtable
*.gdbtablx
*.gdbindexes
*.freelist
*.atx
*.spx

*.gdb/
state districts/

*.zip
*.tar
*.gz
*.7z

*.png

node_modules/
dist/
.vite/
npm-debug.log*
vite-dev*.log
